flows/flows.json
[
    {
        "id": "0f058a7f547c3458",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4e86ad10d01e7a69",
        "type": "group",
        "z": "0f058a7f547c3458",
        "name": "get postcode",
        "style": {
            "stroke": "#d1d1d1",
            "label": true
        },
        "nodes": [
            "6c4546f3e5619681",
            "0f0a67995d4466cb",
            "5d8439e5cea7949c"
        ],
        "x": 234,
        "y": 499,
        "w": 252,
        "h": 162
    },
    {
        "id": "a8dd6a9bd1b5b7e7",
        "type": "group",
        "z": "0f058a7f547c3458",
        "name": "query co2 data",
        "style": {
            "label": true,
            "stroke": "#d1d1d1"
        },
        "nodes": [
            "7c4a746feef7e395",
            "5b2f17b252887589",
            "c740d05d4981138d",
            "20b610e49e95e971"
        ],
        "x": 514,
        "y": 459,
        "w": 352,
        "h": 202
    },
    {
        "id": "a1c86bd095899ec8",
        "type": "MySQLdatabase",
        "name": "llanwrytd",
        "host": "172.18.5.1",
        "port": "3306",
        "db": "llanwrytd",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "4c8a4750891f7844",
        "type": "http request",
        "z": "0f058a7f547c3458",
        "name": "Llanwrtyd Power",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 610,
        "y": 140,
        "wires": [
            [
                "f832e3d01d480950"
            ]
        ]
    },
    {
        "id": "b6c8d13a7ff9da14",
        "type": "inject",
        "z": "0f058a7f547c3458",
        "name": "fetch RSE",
        "props": [],
        "repeat": "1800",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 60,
        "wires": [
            [
                "307ab4e6f668b177"
            ]
        ]
    },
    {
        "id": "6fa52c2549c15f6c",
        "type": "http request",
        "z": "0f058a7f547c3458",
        "d": true,
        "name": "Llanwrtyd 30m Average Power",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 810,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "38e0c3e53e36792a",
        "type": "debug",
        "z": "0f058a7f547c3458",
        "name": "internal log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 420,
        "wires": []
    },
    {
        "id": "e1d07ecec1d5ae7a",
        "type": "template",
        "z": "0f058a7f547c3458",
        "name": "make url",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{AIMLAC_RSE_ADDR}}/sim/llanwrtyd-wells",
        "output": "str",
        "x": 560,
        "y": 100,
        "wires": [
            [
                "4c8a4750891f7844",
                "f35df1df4852048f"
            ]
        ]
    },
    {
        "id": "be9abe3da5580fa2",
        "type": "function",
        "z": "0f058a7f547c3458",
        "name": "strip all but payload",
        "func": "let stripped_message = {\n    payload: msg.payload\n}\nreturn stripped_message;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 220,
        "wires": [
            [
                "9ca09eb79f9ea5cc"
            ]
        ]
    },
    {
        "id": "f35df1df4852048f",
        "type": "template",
        "z": "0f058a7f547c3458",
        "name": "append destination",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{url}}/30m-average-power",
        "output": "str",
        "x": 790,
        "y": 100,
        "wires": [
            [
                "6fa52c2549c15f6c"
            ]
        ]
    },
    {
        "id": "12e7d34356a8a186",
        "type": "function",
        "z": "0f058a7f547c3458",
        "name": "assemble met request",
        "func": "let headers = {\n    \"X-IBM-Client-Id\": msg.api_key,\n    \"X-IBM-Client-Secret\": msg.secret_key,\n    \"accept\": \"application/json\"\n};\n\nlet url = \"https://rgw.5878-e94b1c46.eu-gb.apiconnect.appdomain.cloud\"\n+ \"/metoffice/production/v0/forecasts/point/hourly\"\n+ \"?excludeParameterMetadata=\"+msg.noParamNames\n+ \"&includeLocationName=true\"\n+ \"&latitude=\"+msg.latitude+\"&longitude=\"+msg.longitude;\n\nmsg.url = url;\nmsg.headers = headers;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 260,
        "wires": [
            [
                "67b87407f16763d3"
            ]
        ]
    },
    {
        "id": "67b87407f16763d3",
        "type": "http request",
        "z": "0f058a7f547c3458",
        "name": "MetOffice Spot",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 480,
        "y": 300,
        "wires": [
            [
                "be9abe3da5580fa2"
            ]
        ]
    },
    {
        "id": "6d438a7777ef90fa",
        "type": "change",
        "z": "0f058a7f547c3458",
        "name": "add ENV [MET]",
        "rules": [
            {
                "t": "set",
                "p": "api_key",
                "pt": "msg",
                "to": "MET_API_KEY",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "secret_key",
                "pt": "msg",
                "to": "MET_SECRET_KEY",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "latitude",
                "pt": "msg",
                "to": "LOCATION_LAT",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "longitude",
                "pt": "msg",
                "to": "LOCATION_LON",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "noParamNames",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 100,
        "wires": [
            [
                "12e7d34356a8a186"
            ]
        ]
    },
    {
        "id": "307ab4e6f668b177",
        "type": "change",
        "z": "0f058a7f547c3458",
        "name": "add ENV [RSE]",
        "rules": [
            {
                "t": "set",
                "p": "AIMLAC_RSE_ADDR",
                "pt": "msg",
                "to": "AIMLAC_RSE_ADDR",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 60,
        "wires": [
            [
                "e1d07ecec1d5ae7a"
            ]
        ]
    },
    {
        "id": "0d66c11f180e1295",
        "type": "comment",
        "z": "0f058a7f547c3458",
        "name": "needs timestamp",
        "info": "",
        "x": 580,
        "y": 60,
        "wires": []
    },
    {
        "id": "522fe73aeb87ccf7",
        "type": "mysql",
        "z": "0f058a7f547c3458",
        "mydb": "a1c86bd095899ec8",
        "name": "LLanwrytd DB",
        "x": 1120,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "f832e3d01d480950",
        "type": "function",
        "z": "0f058a7f547c3458",
        "name": "assemble onsite insert (sanitized)",
        "func": "\nmsg.topic = \"INSERT INTO energy_onsite (\"\n        + \"`time`, `hq_power`, `hq_temperature`, `computing_center`, `solar`, `wind1`, `wind2`, `wind3`, `wind4`, `windA`, `windB`\"\n    + \") VALUES (\"\n        + \":timedate, :hq_power, :hq_temperature, :computing_center, :solar, :wind1, :wind2, :wind3, :wind4, :windA, :windB\"\n    + \");\";\n\nvar data = msg.payload.elements;\nvar payload = {};\n\npayload.solar = data[\"Llanwrtyd Wells - Solar Generator\"].power;\npayload.wind1 = data[\"Llanwrtyd Wells - Wind Generator 1\"].power;\npayload.wind2 = data[\"Llanwrtyd Wells - Wind Generator 2\"].power;\npayload.wind3 = data[\"Llanwrtyd Wells - Wind Generator 3\"].power;\npayload.wind4 = data[\"Llanwrtyd Wells - Wind Generator 4\"].power;\npayload.windA = data[\"Llanwrtyd Wells - Wind Generator A\"].power;\npayload.windB = data[\"Llanwrtyd Wells - Wind Generator B\"].power;\n\npayload.hq_power = data[\"AIMLAC HQ Llanwrtyd Wells\"].power;\npayload.hq_temperature = data[\"AIMLAC HQ Llanwrtyd Wells\"].temperature;\npayload.computing_center = data[\"Llanwrtyd Wells - Computing Centre\"].power;\n\npayload.timedate = msg.payload.timedate;\n\n// do sanitization\nObject.keys(payload)\n    .filter(k => k != \"timedate\" )\n    .forEach((k, i) => {\n        var val = payload[k];\n        if ( !Number.isFinite(val) ) {\n            throw Error(k + \" is not a number (\" + val + \")\");\n        }\n    });\n\nvar parsed_date = new Date(payload.timedate);\nif ( isNaN(parsed_date.valueOf()) ) {\n    throw Error(\"Invalid date \", msg.payload.timedate);\n}\n\npayload.timedate = parsed_date;\n\n// overwrite payload\nmsg.payload = payload;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 180,
        "wires": [
            [
                "522fe73aeb87ccf7"
            ]
        ]
    },
    {
        "id": "7f1845d3f45f7bdb",
        "type": "debug",
        "z": "0f058a7f547c3458",
        "name": "log",
        "active": true,
        "tosidebar": false,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 460,
        "wires": []
    },
    {
        "id": "9ca09eb79f9ea5cc",
        "type": "function",
        "z": "0f058a7f547c3458",
        "name": "make metoffice_spot insert (sanitized)",
        "func": "let keys = [\n    \"time\",\n    \"screenTemperature\",\n    \"maxScreenAirTemp\",\n    \"minScreenAirTemp\",\n    \"screenDewPointTemperature\",\n    \"feelsLikeTemperature\",\n    \"windSpeed10m\",\n    \"windDirectionFrom10m\",\n    \"windGustSpeed10m\",\n    \"max10mWindGust\",\n    \"visibility\",\n    \"screenRelativeHumidity\",\n    \"mslp\",\n    \"uvIndex\",\n    \"significantWeatherCode\",\n    \"precipitationRate\",\n    \"totalPrecipAmount\",\n    \"totalSnowAmount\",\n    \"probOfPrecipitation\"\n];\n\ndata = msg.payload.features[0].properties.timeSeries;\n\n// do sanitization\nfunction formatTime(t) {\n    var parsed_date = new Date(t);\n    if ( isNaN(parsed_date.valueOf()) ) {\n        throw Error(\"Not a valid time \" + t);\n    }\n    return parsed_date;\n}\n\nfunction buildPayload(item) {\n    let payload = [formatTime(item.time)];\n    keys.filter(k => k != \"time\")\n        .forEach((k, i) => {\n            let val = item[k];\n            if (!Number.isFinite(val)) {\n                //throw Error(k + \" is not a number (\" + val + \")\");\n                val = null;\n            }\n            payload.push(val);\n        }\n    );\n    \n    return payload;\n}\n\nmsg.payload = data.map(item => buildPayload(item));\n\nmsg.topic = \"INSERT INTO metoffice_spot (\"\n + \"`\" + keys.join(\"`, `\") + \"`) \"\n + \"VALUES \" + msg.payload.map(k=>\"(?)\").join(\", \")\n + \"ON DUPLICATE KEY UPDATE \"\n + keys\n    .filter(k=>k != \"time\")\n    .map(k=>k + \"=VALUES(\"+ k + \")\").join(\", \")\n + \";\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 220,
        "wires": [
            [
                "522fe73aeb87ccf7"
            ]
        ]
    },
    {
        "id": "725fb307c65c8a17",
        "type": "inject",
        "z": "0f058a7f547c3458",
        "name": "fetch MetOffice",
        "props": [],
        "repeat": "21600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "6d438a7777ef90fa"
            ]
        ]
    },
    {
        "id": "f4f4a5afa8d10c57",
        "type": "http request",
        "z": "0f058a7f547c3458",
        "name": "OWM Weather",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 480,
        "y": 340,
        "wires": [
            [
                "fc28542c2b7cc484"
            ]
        ]
    },
    {
        "id": "af6098234b0d4bd8",
        "type": "change",
        "z": "0f058a7f547c3458",
        "name": "add ENV [OWM]",
        "rules": [
            {
                "t": "set",
                "p": "api_key",
                "pt": "msg",
                "to": "OPEN_WEATHER_API",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "latitude",
                "pt": "msg",
                "to": "LOCATION_LAT",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "longitude",
                "pt": "msg",
                "to": "LOCATION_LON",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "noParamNames",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 320,
        "wires": [
            [
                "affbb4ebfeab8fed"
            ]
        ]
    },
    {
        "id": "41a2ad85c2f644d4",
        "type": "inject",
        "z": "0f058a7f547c3458",
        "name": "fetch openWeather",
        "props": [],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "af6098234b0d4bd8"
            ]
        ]
    },
    {
        "id": "affbb4ebfeab8fed",
        "type": "function",
        "z": "0f058a7f547c3458",
        "name": "assemble owm request",
        "func": "\nlet url = \"api.openweathermap.org/data/2.5/weather\"\n    + \"?lat=\" + msg.latitude\n    + \"&lon=\" + msg.longitude\n    + \"&appid=\" + msg.api_key;\n\nmsg.url = url;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 360,
        "wires": [
            [
                "f4f4a5afa8d10c57"
            ]
        ]
    },
    {
        "id": "fc28542c2b7cc484",
        "type": "function",
        "z": "0f058a7f547c3458",
        "name": "strip all but payload",
        "func": "let stripped_message = {\n    payload: msg.payload\n}\nreturn stripped_message;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 340,
        "wires": [
            [
                "5c78d1c35893caaf"
            ]
        ]
    },
    {
        "id": "5c78d1c35893caaf",
        "type": "function",
        "z": "0f058a7f547c3458",
        "name": "make openweather insert (sanitized)",
        "func": "let keys = [\n    \"time\",\n    \"temperature\",\n    \"temperature_min\",\n    \"temperature_max\",\n    \"pressure\",\n    \"humidity\",\n    \"visibility\",\n    \"wind_speed\",\n    \"wind_deg\",\n    \"wind_gust\",\n    \"clouds\"\n];\n\ndata = msg.payload;\n\n// do sanitization\nfunction formatTime(t) {\n    // convert unix seconds to milis\n    var parsed_date = new Date(t * 1000);\n    if ( isNaN(parsed_date.valueOf()) ) {\n        throw Error(\"Not a valid time \" + t);\n    }\n    return parsed_date;\n}\n\nfunction sanitize(v) {\n    if (!Number.isFinite(v)) {\n        return null;\n    }\n    return v;\n}\n\nfunction buildPayload(data) {\n    let payload = [formatTime(data.dt)];\n    \n    payload.push(sanitize(data.main.temp));\n    payload.push(sanitize(data.main.temp_min));\n    payload.push(sanitize(data.main.temp_max));\n    payload.push(sanitize(data.main.pressure));\n    payload.push(sanitize(data.main.humidity));\n    payload.push(sanitize(data[\"visibility\"]));\n    payload.push(sanitize(data.wind.speed));\n    payload.push(sanitize(data.wind.deg));\n    payload.push(sanitize(data.wind.gust));\n    payload.push(sanitize(data.clouds[\"all\"]));\n    \n    return payload;\n}\n\nmsg.payload = buildPayload(data);\n\nmsg.topic = \"INSERT INTO openweather_data (\"\n + \"`\" + keys.join(\"`, `\") + \"`) \"\n + \"VALUES(\" + msg.payload.map(k=>\"?\").join(\", \") + \") ;\"\n ;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 260,
        "wires": [
            [
                "522fe73aeb87ccf7"
            ]
        ]
    },
    {
        "id": "87f5753b77cb5821",
        "type": "inject",
        "z": "0f058a7f547c3458",
        "name": "fetch CO2",
        "props": [],
        "repeat": "1800",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 460,
        "wires": [
            [
                "c0a79f25a32d9fba"
            ]
        ]
    },
    {
        "id": "c0a79f25a32d9fba",
        "type": "change",
        "z": "0f058a7f547c3458",
        "name": "add ENV [CO2]",
        "rules": [
            {
                "t": "set",
                "p": "latitude",
                "pt": "msg",
                "to": "LOCATION_LAT",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "longitude",
                "pt": "msg",
                "to": "LOCATION_LON",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 460,
        "wires": [
            [
                "0f0a67995d4466cb"
            ]
        ]
    },
    {
        "id": "6c4546f3e5619681",
        "type": "function",
        "z": "0f058a7f547c3458",
        "g": "4e86ad10d01e7a69",
        "name": "extract postcode",
        "func": "let postcode = msg.payload\n.data\n.relationships\n.nearest_postcode\n.data\n.id\n.split(\" \")[0];\n\n// clean-up\nreturn {\n    postcode: postcode\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 620,
        "wires": [
            [
                "7c4a746feef7e395"
            ]
        ]
    },
    {
        "id": "0f0a67995d4466cb",
        "type": "template",
        "z": "0f058a7f547c3458",
        "g": "4e86ad10d01e7a69",
        "name": "postcode API",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "https://findthatpostcode.uk/points/{{latitude}},{{longitude}}.json",
        "output": "str",
        "x": 360,
        "y": 540,
        "wires": [
            [
                "5d8439e5cea7949c"
            ]
        ]
    },
    {
        "id": "5d8439e5cea7949c",
        "type": "http request",
        "z": "0f058a7f547c3458",
        "g": "4e86ad10d01e7a69",
        "name": "findthatpostcode.uk",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 360,
        "y": 580,
        "wires": [
            [
                "6c4546f3e5619681"
            ]
        ]
    },
    {
        "id": "7c4a746feef7e395",
        "type": "template",
        "z": "0f058a7f547c3458",
        "g": "a8dd6a9bd1b5b7e7",
        "name": "carbonintensity API",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "https://api.carbonintensity.org.uk/regional/postcode/{{postcode}}",
        "output": "str",
        "x": 670,
        "y": 500,
        "wires": [
            [
                "5b2f17b252887589"
            ]
        ]
    },
    {
        "id": "5b2f17b252887589",
        "type": "http request",
        "z": "0f058a7f547c3458",
        "g": "a8dd6a9bd1b5b7e7",
        "name": "CO2 API",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 680,
        "y": 540,
        "wires": [
            [
                "c740d05d4981138d"
            ]
        ]
    },
    {
        "id": "c740d05d4981138d",
        "type": "function",
        "z": "0f058a7f547c3458",
        "g": "a8dd6a9bd1b5b7e7",
        "name": "strip all but payload",
        "func": "let stripped_message = {\n    payload: msg.payload\n}\nreturn stripped_message;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 580,
        "wires": [
            [
                "20b610e49e95e971"
            ]
        ]
    },
    {
        "id": "20b610e49e95e971",
        "type": "function",
        "z": "0f058a7f547c3458",
        "g": "a8dd6a9bd1b5b7e7",
        "name": "make carbon_dioxide insert (sanitized)",
        "func": "// do sanitization\nfunction formatTime(t) {\n    var parsed_date = new Date(t);\n    if ( isNaN(parsed_date.valueOf()) ) {\n        throw Error(\"Not a valid time \" + t);\n    }\n    return parsed_date;\n}\n\nlet data = msg.payload.data[0];\n\nmsg.payload = [\n    formatTime(data.data[0].to),\n    data.data[0].intensity.forecast,\n    data.data[0].intensity.index,\n    data.shortname,\n];\n\nlet keys = [\n    \"time\",\n    \"intensity\",\n    \"index\",\n    \"location\",\n];\ndata.data[0].generationmix.forEach((v, i) => {\n   keys.push(`fuel_${v.fuel}`);\n   msg.payload.push(v.perc);\n});\n\nmsg.topic = `INSERT INTO carbon_dioxide\n(\\`${keys.join(\"\\`, \\`\")}\\`)\nVALUES (${keys.map(() => \"?\").join(\", \")})`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 620,
        "wires": [
            [
                "522fe73aeb87ccf7"
            ]
        ]
    }
]